/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #0049ff;
$--color-secondary: #00d6c9;
$--color-primary-dark: rgb(0, 24, 93);
$--table-header-background-color: #dfddeb;
$--table-header-font-color: black;
$--input-border-radius: 1px;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
